{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":5,"column":13},"action":"insert","lines":["#################  ","## npm","#################","","","/node_modules"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":0},"end":{"row":4,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":1629,"mode":"ace/mode/text"}},"timestamp":1417650275656,"hash":"743c242461906a608ea9c10e1c78f6820716c7a6"}