<!DOCTYPE html>
<html ng-app = "app" ng-controller="AppCtrl">
<head>


	<!-- ripple-graph -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href='fonts/opensans.css' rel='stylesheet' type='text/css'>
	<link href="mainstylesheet.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="d3.v3.min.js"></script>
	<script type="text/javascript" src="sha1.js"></script>
	<script type="text/javascript" src="ripple-0.7.201-debug.js"></script>

	<script type="text/javascript" src="basicincome_co/dependencies/ripple-0.9.2.js"></script>



	<!-- basicincome.co dependencies -->

	<script type="text/javascript" src="basicincome_co/dependencies/angular.js"></script>
	<script type="text/javascript" src="basicincome_co/dependencies/angular-mongolab.js"></script>
	
	<!-- basicincome.co ng-app -->

	<script type="text/javascript" src="basicincome_co/ng-app.js"></script>

		<!-- basicincome.co services -->

		
	<script type="text/javascript" src="basicincome_co/services/network.js"></script>
	<script type="text/javascript" src="basicincome_co/services/mongodb.js"></script>
	<script type="text/javascript" src="basicincome_co/services/ripple_connection.js"></script>
	<script type="text/javascript" src="basicincome_co/services/vaultclient.js"></script>
	
	<!-- basicincom.co controllers -->
				<script type="text/javascript" src="basicincome_co/mongo_controller.js"></script>

	<script type="text/javascript" src="basicincome_co/graph_script.js"></script>



	<!-- ripple-graph -->
	<script type="text/javascript" src="selectbox/jquery.selectbox-0.2.min.js"></script>
	<link href="selectbox/jquery.selectbox.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="jscrollpane/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="jscrollpane/jquery.jscrollpane.js"></script>
	<script src="jquery.inview.js"></script>
	<link type="text/css" href="jscrollpane/jquery.jscrollpane.css" rel="stylesheet" media="all" />
	<title>Basicincome.co Live Network</title>
	
	

</head>

<body ng-controller = "visualizationCtrl">
	

<div>
</div>
<div class="light heading darkgray block">Basicincome.co Live Network<br>
</div>

<!-- BEGIN VISUALIZATION DIV -->
<div id="visualization" style="position:relative; border: 1px solid #c8c8c8; height:703px;" class="fullwidth">

<div class="light midsize mediumgray" style="position: absolute; top: -88px;	left:35px; ">
connected nodes: {{database.length}}<br/>
</div>

<div class="light midsize mediumgray block" style="position: absolute; top: -88px;	right:35px; display:block">
<button ng-click="change_to_safety_net_pathways();submit(address)" class="btn">Safety-Net Pathways</button>
<br>
<button ng-click="change_to_dividend_pathways();submit(address)" class="btn">Dividend Pathways</button><br/>
</div>

<!-- top bar -->

<input id="focus" class="light midsize rounded topbar" style="left:35px; padding:0 10px; width:295px; height:42px; z-index:1" type="text"  ng-model="address"/>
<input id="searchButton" class="topbar" style="left:360px; width:50px; height:50px; z-index:1" type="button" value="Go" ng-click="changeMode('individual');name_to_address(address, true)"/>
<div class="topbar" style="right:35px; height:42px; width:230px; outline:none;">

	<!--select id="currency" onchange="changeCurrency(this.value);">

	</select-->
	<!--input type="text" id="otherCurrency" value="other" class=" sbSelector sbHolder" onfocus="focusOtherCurrency(this);" onblur="blurOtherCurrency(this);" /-->
</div>


<div style="position:absolute; left:35px; top:80px; opacity:.8;">
<input style="width:25px; height:25px; font-size:12pt; ;" type="button" id="zoomInButton" value="+" ng-click="zoomIn();" disabled="disabled"/><br/>
<input style="width:25px; height:25px; font-size:12pt; ;" type="button" value="&ndash;" ng-click="zoomOut();"/>
</div>

<div id="loading" class="light large" style="color:#aaa; position:absolute; width:100%; top:100px; line-height:50px; text-align:center;">
	<img src="throbber4.gif" style="vertical-align: middle;"/>
	Loading...
</div>


<!-- begin information below -->
<div id="information" style="opacity:0.8; background-color:#fff; position:absolute; top:704px; width:100%; border: 1px solid #c8c8c8; margin-left:-1px;">
<!-- div class="tab midsize mediumgray unselectedTab" style="margin-top:-36px; margin-left:140px;" onclick="changeMode('feed');" id="feedTab">Network feed</div>



<div id="individualTab" class="tab midsize mediumgray selectedTab" style="margin-top:-35px; margin-left:-1px;" onclick="changeMode('individual',senderAddress);">Wallet info</div -->
<div id="rippleName" ng-click="test()" class="light darkgray large" style="margin-bottom:13px; margin-top:13px; padding-left:20px; float:left;">&nbsp;</div>
<div id="focalAddress" class="light mediumgray midsize" style="margin-bottom:7px; margin-top:19px; padding-left:20px; float:left;">&nbsp;</div>
<div class="clearboth"></div>

<div class="fullwidth topbordered horizontalrule"></div>
<div class="light midsize mediumgray" id="leftHeading" style="width:50%; border: none; float:left; padding-left:20px;">{{network_type}}</div>
<div class="light midsize mediumgray" id="rightHeading" style="width:25%; border:none; float:left;" ng-show="network_type !='Dividend Pathways'">Incentive Layer: Penalty</div>

<div class="light midsize mediumgray" id="rightHeading2" style="border:none; float:left;" ng-show="network_type !='Dividend Pathways'">Tax to declare</div>
<div class="clearboth"></div>
<div class="fullwidth bottombordered horizontalrule"></div>

<!-- the table on the left -->
<div class="bottomlist rightbordered" style="width:49%; float:left;">
  <div class="scroll-pane" id="transactionInformationContainer" style="z-index:1; width:100%; height:288px; position:absolute; background-color:#fff; display:none;">
    <div style="width:100%; overflow-x:hidden;">
      <div id="transactionInformation" class="light midsize mediumgray" style="width:100%%; padding:20px; display:none;"></div>
      <div id="transactionFeed" class="light midsize mediumgray" style="width:100%; padding:20px; display:none;">
        <table id="transactionFeedTable"></table>	
      </div>
    </div>
  </div>
  
  
  <!-- SAFETY NET TABLE -->
  <div class="scroll-pane" style="height:288px; margin-left:10px;">

  				<div>
  				<table class="outertable" id="">
  				<tr ng-click="show = !show" class="pointer">
					<td class="circlecell"><svg width="22" height="22">
					<circle cx="11" cy="11" r="11" ng-style="{{myStyle}}"></circle>
					</svg></td>
					<td class="light small mediumgray" ng-click="test()">{{cur}}</td>
					<td class="bold amount">{{commas(balances[cur])}}</td>
					<td class="light expander"><span ng-hide = "show">+</span><span id="{{cur + 'Expander'}}" ng-show="show">-</span></td>
					</tr>
					<table class="innertable" style="table-layout:fixed;" id="{{cur}}+'InnerTable'"  ng-show="show">
					<tr class="innertable" style="table-layout:fixed;" id="{{cur}}+'innerTable'">
					<th class="light midsize mediumgray" style="width:50%;">Address</th>
					<td class="light midsize mediumgray center" style="width:16%">Dividend pathway</td>
					<td class="light midsize mediumgray right" style="width:16%;">TaxRate</td>
					</tr>					
					<tr ng-repeat="trustLine in trustLinesForCur">
					<th class="light address"><span style="cursor:pointer;overflow:hidden; text-overflow:ellipsis; display:block;"
					ng-mouseover="lightenAddress(tl.account);" ng-mouseleave="darkenAddress(tl.account);" ng-click="expandNode(tl.account);">
					{{trustLine.account}}</span></th>
					<td style="width:37px;" class="bold '+(tl.balance<0 ? 'negative ' : '')+'amount center"><span title="'+commas(tl.balance)+'">{{roundNumber(trustLine.balance)}}</span></td>
					<td style="width:37px;" class="light '+(tl.taxRate<0 ? 'negative ' : '')+'amount right"><span title="'+commas(tl.taxRate)+'">{{roundNumber(trustLine.taxRate)*100}} %</span></td>
					</tr>
					</table>	
					</table>
					</div>
			
</div>


  	<!--STUFF -->

</div>

  <!-- INCENTIVE LAYER: PENALTY TABLE -->

<div class="bottomlist rightbordered" style="width:25%; float:left;" ng-show="network_type != 'Dividend Pathways'">
<div class="scroll-pane" style="height:288px;width:100%; ">
		<table class="outertable" id="infoTable">
		<tr>
		<td class="circlecell"><svg width="22" height="22">
		<circle cx="11" cy="11" r="11" ng-style="{{myStyle}}"></circle>
		</svg></td>
		<td class="light small mediumgray" ng-click="test()">{{cur}}</td>
		<td class="bold amount">{{penalty}}</
		</tr>
		</table>
</div>
</div>

  <!-- TAX TO DECLARE TABLE -->

<div class="bottomlist" style="width:25%; float:left;" ng-show="network_type != 'Dividend Pathways'">
<div class="scroll-pane" style="height:288px;width:100%; ">
		<table class="outertable" id="stuffTable">
		<tr>
		<td class="circlecell"><svg width="22" height="22">
		<circle cx="11" cy="11" r="11" ng-style="{{myStyle}}"></circle>
		</svg></td>
		<td class="light small mediumgray" ng-click="test()">{{cur}}</td>
		<td class="bold amount">{{unpaid_tax}}</td>
		</tr>
		</table>
</div>
</div>


</div>



<div class="clearboth"></div>

</div><!-- end information at the bottom -->

</div><!-- END VISUALIZATION DIV -->



</body>

</html>